/* * {
    outline: 2px solid red;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#main-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#picker-frame {
    display: flex;
    align-items: center;
}

#picker-field {
    width: 3em;
    font-size: 20px;
    border-width: 1.5px;
    border-radius: 5px;
    border-style: solid;
}

#picker-frame button {
    all: unset;
    background-color: lightsalmon;
    padding-block: 2.425px;
    padding-inline: 10px;
    border-radius: 5px;
    margin-left: 10px;

    &:hover {
        background-color: rgb(231, 126, 100);
    }

    &:active {
    background-color: rgb(193, 95, 70);
    }
}

#grid-frame {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#grid-frame div {
    background-color: lightgrey;
    padding: 5px;
}